/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3 {
    text-align: center;
    color: #333;
  }
  
  nav {
    text-align: center;
    margin-top: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Estilos de sección */
  section {
    padding: 40px 0;
    background-color: #eee;
  }
  
  section img {
    display: block;
    margin: 20px auto;
    width: 300px;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
  }
  
  section img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  ul li strong {
    display: inline-block;
    width: 150px;
    font-weight: bold;
  }
  
  /* Estilos para el enlace "Volver arriba" */
#volver-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

#volver-arriba:hover {
  background-color: rgb(50, 6, 108);
}

  /* Estilos de pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  @media only screen and (max-width: 768px) {
    .container {
      max-width: 100%;
    }
    
    section img {
      width: 100%;
    }
  }
  
  